Source: apt-conf-aptosid
Section: admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.6
Vcs-git: git://github.com/fullstory/apt-conf-aptosid.git
Vcs-Browser: https://github.com/fullstory/apt-conf-aptosid

Package: apt-conf-aptosid
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: aptosid defaults for apt
 configure the traditional apt (<<0.7) behaviour as far as that is possible,
 by disabling -among others- the automatic installation of recommends (and
 suggests), as well as disabling and hiding the autoremove functionality.
